/*CERTIFICATE SECTION*/
.certificates-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  
  .certificate-card {
    width: 500px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .certificate-card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .certificate-card:hover {
    transform: scale(1.1);
  }
  
  .card-title, .card-text {
    text-align: center;
    margin: 10px 0;
  }
  /*ABOUT SECTION*/
  .about .row {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .about img {
    background-color: #0ea2eda3;
    max-width: 100%;
    height: auto;
  }
  
  .about .content {
    flex: 1;
  }

/*CV button*/
  .btn-primary {
    background-color: #0ea2eda3;
    border-color: #0ea2eda3;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #0ea2ed;
    border-color: #0ea2ed;
    color: white;
  }
/*SKILLS*/
 .skills .icon-box {
  text-align: center;
  background: rgba(204, 204, 204, 0.1);
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
}

.skills .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background:  #0ea2eda3;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}

.skills .icon-box .icon i {
  color: #fff;
  font-size: 28px;
}

.skills .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
}

.skills .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.skills .icon-box h4 a {
  color: #fff;
}

.skills .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.skills .icon-box:hover {
  background:  #0ea2eda3;
  border-color:  #0ea2eda3;
}

.skills .icon-box:hover .icon {
  background: #fff;
}

.skills .icon-box:hover .icon i {
  color:  #0ea2eda3;
}

.skills .icon-box:hover .icon::before {
  background: #0ea2eda3;
}

.skills .icon-box:hover h4 a,
.skills .icon-box:hover p {
  color: #fff;
}
 
  
  
  